h1 {
  border: solid black 2px;
  text-align:center;
  margin: auto;  
} 
.con {
 display: flex;
 justify-content: space-between;
 flex-flow:row;

}
.outline {
  border-style: solid;
  border-width: 0px 2px 2px 2px;
}
.new {
  width: 46px;
  height: 27px;
  padding: 2px;
  text-align: center;
  float:right;
  background-color: grey;

}
p {
    padding: 0px,10px,10px,20px;

}
